<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.box
		{
			width: 100px;
			height: 100px;
			background-color: greenyellow;
			border-width: 10px;
			border-color: red;
			border-style: solid;

			box-sizing: content-box;

			/*
				轮廓不改变元素的大小和位置，用法和 border 一样
				outline
			*/
			/*
				阴影  
				1）第三个值是模糊程度
				2）第四个值是颜色透明
			*/
			box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
			/*
				圆角  
				参数形式：10px、50%
			*/
			border-top-right-radius: 5px 10px;
			border-top-left-radius: 10px;
		}
	</style>
</head>
<body>
	<div class="box"></div>
</body>
</html>