<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.box1
		{
			width: 200px;
			height: 200px;
			background-color: red;

			border-width: 20px;
			border-color: blue;

			padding: 30px 30px 30px 30px;
		}
	</style>
</head>
<body>
	<!--
		内容区和边框之间的距离就是内边距
		1）四个方向的内边距
		2）背景颜色会延伸到内边距
	-->
	<div class="box1">
		<span class="box2">无边落木萧萧下</span>	
	</div>
</body>
</html>