<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	<title>Document</title>
		<style>
			.box1
			{
				width: 800px;
				height: 200px;
				border: 10px red solid;
			}	
			.box2
			{
				width: 200px;
				height: 200px;
				background-color: blue;
			}
		</style>
</head>
<body>
	<!--
		1，一个元素在其父元素中，水平布局必须要满足以下等式：
			margin-left + border-left + padding-left + width + padding-right + border-right + margin-right
		2，如果这七个值中没有 auto 的情况，则浏览器会自动调整 margin-right 的值以使等式满足
		3，这七个值中有三个值可以设置为 auto：
			1）width
			2）margin-left
			3）margin-right
			4）将谁设置为 auto 就默认调整谁
			5）将子元素居中的技巧：
				width 设置为明显的值，将 margin-left、margin-right 设置未 auto，将 margin-width 设置为 0
	-->
	<div class="box1">
		<div class="box2">

		</div>
	</div>
</body>
</html>